.bg-red{background-color: var(--red);color:#fff}
.school-card{margin-bottom: 30px;}
.school-card img{height:60px; width: 60px; margin-bottom: 10px;}
.school-program-card{margin-top: 15px;}
/* .school-program-card .col-md-1 img{width:60%} */
.school-program-card img{width:52px; margin-right: 20px;}
.cover-image{height:400px; background-size:cover; background-position: center;}
.program-cover{ background-size:cover; background-position: center;}
.program-cover img{max-height:80px; margin-bottom:20px}
.program-cover h3{color: white;text-shadow: rgb(0, 0, 0) 1px 1px 4px; margin:15px 0px 0px;}
.program-cover h3 a{color: #6b76bb;}
.program-cover h3 a:hover{color: #4755AB;}
.program-cover .col-md-12{height: 100%; background-color:rgba(0,0,0,0.35);padding: 30px 15px;}
.school-intro img.school-logo{width:80px; position: relative; top: -30px; }
.school-intro img.country-flag{width:30px; }
.school-intro h4{margin-top : -20px; font-weight: bold; font-size: 28px;}
.light-row{width:80%; margin: auto; border-radius:3px}
.light-row-2{width:90%; margin: auto; border-radius:3px; font-size: 14px;}
.light-row label{font-weight: bold;}
.divided-cols{margin-top: 30px;text-align: center;}
.program-heading, .divided-cols h3{font-family: 'Anton', sans-serif; text-align: center;}
.financials-head{border-bottom: 2px solid #e1e1e1;font-family: 'Anton', sans-serif; color: var(--primary);}
.tution-row{border-bottom: 2px dotted #e1e1e1;}
.financials-foot{margin-top:40px; border-top: 2px solid #e1e1e1;border-bottom: 2px solid #e1e1e1;}
.gmap_canvas{height:300px}
.school-gallery{top: 360px;}
.img-common{margin: auto; width:336px}
.school-gallery .img-div{height: 80px; width: 120px;background-size: cover; background-position: center; 
    float: left; border:2px solid #fff;box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.36);
    cursor: pointer;
}
.school-gallery .img-div:hover{
    opacity: 0.9;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.66);
}
label span.text-muted{font-size:11px}
.program-details{margin-top: 30px;}

.program-details .div-common .col-md-12.bg-light{padding: 15px; font-size: 14px;box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12); border-radius: 3px;}
.program-details table tr td{padding: 5px 0px;}
.program-card-cover{box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.36)}
.div-common p{font-size: 14px;}
.program-head{margin-bottom: 10px;}
.program-details .program2 ul li{color: var(--para-color);}
.program-details .program2 h5.note{font-size:12px; font-weight: bold;}
.program1 .w-100 i{font-size: 36px;animation: rotation 5s infinite linear;}
@keyframes rotation {
    from {
      /* transform: rotate(0deg); */
      transform: rotateY(0deg);
    }
    to {
      /* transform: rotate(359deg); */
      transform: rotateY(-360deg);
    }
}
.school-program-card label{font-weight: bold; font-size: 18px; border-bottom: 2px solid var(--primary);}
.feature-cols{padding: 15px; color: #6c757d; text-align: center;}
.feature-cols:hover > .col:hover{color: black;cursor: pointer;}
.feature-cols .col i.fa-ban, .feature-cols .col i.fa-check{font-size: 24px; position: absolute;top:0px;right: 12%;}
.modal i.fa-ban, .feature-cols .col i.fa-ban{color: red;}
.modal i.fa-check, .feature-cols .col i.fa-check{color: green;}
.feature-cols .col i:first-child{font-size: 62px;}
.feature-cols .col h6{margin-top: 20px; font-size: 14px;}
.feature-label{font-size: 12px;}
.feature-modal .modal-body{padding: 30px;}
.feature-modal .modal-body h5{font-weight: bold;margin-bottom: 15px; /*border-bottom: 2px solid var(--primary);*/}
.feature-modal .modal-body p{font-size: 14px;}
.valueSpan{
  position: relative;
  top:-8px;
  font-size: 12px;
}
.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
  outline: thin dotted rgba(255,255,255,0) !important;
  outline: 0px auto -webkit-focus-ring-color!important;
  outline-offset: -2px;
}
.after-ajax{
  display: none;
}
.search-result{height:100vh;overflow:scroll}
.program-search-card .program-heading-search{font-weight: bold;}
.program-search-card table td{font-size: 14px;}
.search-school-logo{height: 90px;text-align :center}
.student-form-card h4{
  font-weight: bold;
  margin-bottom: 0px;
}
.student-form-card .span-note{
  font-size: 12px;
  color:#ccc
}
.bold-label{
  font-weight: bold;
}
.gre_exam, .gmat_exam{
  display: none;
}
td span.badge{
  /* color:#000 ; */
}
td span.Pending{
  background-color: var(--warning);
}
.select-program{
  margin-bottom: 30px;
}
.select-program .col-md-12{
  height: 200px;
  overflow-y: auto;
}
.select-program .col-md-12 h5{
  margin-bottom: 10px;
  color: var(--red);
}
.select-program .col-md-12 h6{
  margin-bottom: 10px;
  font-weight: bold;
  /* color: var(--primary); */
}
.select-program .col-md-12 table tr:first-child{
  font-weight: bold;
}
.select-program .col-md-12 .btn{
  color: #fff;
  float: right;
}
.select-program .col-md-12 label{
  color: green;
  float: right;
}
.border-radius{
  border-radius:4px;
}
.badge{
  color: #fff;
}
.badge-grey{
  background-color: #ccc;
}
.badge.Reviewing, .badge.processing{
  background-color: var(--primary);
}
.badge.not.paid{
  background-color: #ccc;
}
.badge.Missing, .badge.cancelled{
  background-color: #ffc107;
}
.badge.Complete, .badge.None.Outstanding,  .badge.accepted{
  background-color: #03c895;
}
.badge.Not.Approved{
  background-color: var(--red);
}
.backtohome a, .signup a{
  color:var(--red);
}